on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:  # Allow manual triggering

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:  # TODO: figure out how to build aarch64 as well ?
        extra_env: ["none", "date"]
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Fix ref slashes
        run: |
          echo REF_NO_SLASHES=$(echo "${{ github.ref_name }}" | sed 's/\//-/g') >> ${GITHUB_ENV}
      - name: Set DOCKER_TAG_EXTRA if not main
        if: github.event.pull_request.merged != true
        run: |
          test "${{ github.ref }}" = "refs/heads/main" || echo "DOCKER_TAG_EXTRA=${DOCKER_TAG_EXTRA}-$REF_NO_SLASHES" >> ${GITHUB_ENV}
          cat ${GITHUB_ENV}
      - name: Set DOCKER_TAG_EXTRA if date
        run: |
          test "${{ matrix.extra_env }}" = "date" && echo "DOCKER_TAG_EXTRA=${DOCKER_TAG_EXTRA}-$(date +%Y%m%d)" >> ${GITHUB_ENV} || true
          cat ${GITHUB_ENV}
      - name: build and push image
        run: |
          docker build --pull --push -t ghcr.io/pvarki/actions-runner:latest${DOCKER_TAG_EXTRA} .
