on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:  # Allow manual triggering

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:  # TODO: Spread across multiple runners https://docs.docker.com/build/ci/github-actions/multi-platform/#distribute-build-across-multiple-runners
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Fix ref slashes
        run: |
          echo REF_NO_SLASHES=$(echo "${{ github.ref_name }}" | sed 's/\//-/g') >> ${GITHUB_ENV}
      - name: Set DOCKER_TAG_EXTRA if not main
        if: github.event.pull_request.merged != true
        run: |
          test "${{ github.ref }}" = "refs/heads/main" || echo "DOCKER_TAG_EXTRA=-$REF_NO_SLASHES" >> ${GITHUB_ENV}
          cat ${GITHUB_ENV}
      - name: Generate bakefile
        run: |
          .github/bakefile_variants.py >bakefile.hcl
      - name: Build and push
        if: ${{ !env.ACT }}
        run: |
          docker buildx bake -f bakefile.hcl --pull --push
